header {
    max-width: 100%;
    margin-top: 0;
    position: relative;
    top: 0;
    /* z-index: 999; */
}


nav {
    position: absolute;
    right: 10vw;
    top: 5dvh;
    margin-right: 0;
    width: max-content;
    
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3vw;
    align-self: center;
    margin-right: 0;
}

ul > li {
    align-self: center;
}

.headBtn {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-family: var(--ox);
    font-size: clamp(22px, 1rem, 95%);
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in;
}

.headBtn:hover {
    color: rgba(255,255,255,1);
}





.headBtn::before {
    content: '';
    position: absolute;
    display: block; 
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.headBtn:hover::before {
    transform: scaleX(1);
}

.banner-container {
    overflow: hidden;
    width: 100%;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2px 0;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.banner-wrapper {
    display: flex;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}

.banner-track {
    color: #fff;
    font-size: 1rem;
    white-space: nowrap;
    align-items: center;
    flex-shrink: nowrap;
    gap: 50px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(-50%);
    }
}

.banner-track > span > i {
    padding-left: 20px;
    padding-right: 10px;
}

.banner-item {
    font-family: var(--orbit);
}

.cartIcon > button {
    background: none;
    border: none;
    color: rgba(255,255,255,0.5);
    font-size: clamp(22px, 1rem, 95%);
    cursor: pointer;
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cartIcon > button:hover {
    color: rgba(255,255,255,1);
}

.cartIcon > button::before {
    content: '';
    position: absolute;
    padding: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.cartIcon > button:hover::before {
    transform: scale(1);
    opacity: 1;
}

#cartSidepanel {
    width: 400px;
    height: 100dvh;
    padding-bottom: 100dvh;
    position: fixed;
    left: auto;
    margin-right: 0;
    border: transparent;
    /* transition: 0.3s all ease-in; */
    animation: slideRight 0.4s both linear;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-left: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2), inset 0 1px 1px 0 rgba(255,255,255,0.3);
}

#cartSidepanel::backdrop {
    display: block;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transition: background-color, display, overlay;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-behavior: allow-discrete;
}

#cartSidepanel[open]::backdrop {
    background-color: rgba(0,0,0,0.6);
}

@starting-style {
    #cartSidepanel[open]::backdrop {
        background-color: rgba(0,0,0,0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0);
    }
}

.exitBtn {
    background: transparent;
    border: transparent;
    position: absolute;
    left: 1vw;
    top: 2dvh;
    font-size: clamp(22px, 1rem, 95%);
    color: #fff;
    cursor: pointer;
}

.exitBtn:hover > i::before {
    content: "\F114";
}

.intro {
    width: 100%;
    height: 100dvh;
    text-align: center;
    align-self: center;
    position: relative;
    margin: auto;
    inset: 0;
    z-index: -1;
    display: flex;
}

.intro > h1 {
    position: absolute;
    color: #FFF;
    top: 40%;
    left: 0;
    right:0;
    font-family: var(--orbit);
    font-size: clamp(80px, 2rem, 95%);
    text-transform: uppercase;
    letter-spacing: -1px;
    justify-content: center;

    text-shadow: 
    /* Step 1: Upper Blue Layer */
    0px 2px 2px var(--pink),
    0px 4px 2px var(--pink),
    0px 6px 2px var(--pink),
    
    /* Step 2: Mid-Transition Cyan Layer */
       0px 8px 2px     var(--purple),
        0px 10px 2px    var(--purple),
        0px 12px 2px    var(--purple),
    
    /* Step 3: Bottom Green Layer */
    0px 14px 2px var(--light-pink),
    0px 16px 2px var(--light-pink),
    0px 18px 2px var(--light-pink),

    /* Optional: Soft outer glow at the very bottom */
    0px 22px 15px rgba(32, 201, 151, 0.4);
    animation: h1Breathe 3s ease-in;
}

@keyframes h1Breathe {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
    
}

.exploreBtn {
    width: 100%;
    background: red;
    height: 20px;
    position: absolute;
    left: 0;
}



.exploreBtn > a {

    color: #FFF;
    font-family: var(--orbit);
    font-size: clamp(22px, 2rem, 95%);
    text-transform: uppercase;
    letter-spacing: -1px;
    text-decoration: none;
    cursor: pointer;
}

.exploreBtn > i {
     color: #FFF;
    font-family: var(--orbit);
    font-size: clamp(22px, 2rem, 95%);
    text-transform: uppercase;
    letter-spacing: -1px;
    text-decoration: none;
    cursor: pointer;
}




